@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Магазин обуви</h1>
    <p class="lead">Сайт магазина обуви для ведения учета товара.</p>
</div>

<div class="main-menu">
    <ul class="main-menu-list">
        <li class="main-menu-item">@Html.ActionLink("Обувь", "Index", "Footwears")</li>
        <li class="main-menu-item">@Html.ActionLink("Типы обуви", "Index", "FootwearTypes")</li>
        <li class="main-menu-item">@Html.ActionLink("Производители обуви", "Index", "Makers")</li>
        <li class="main-menu-item">@Html.ActionLink("Движение товара", "Index", "Motions")</li>
        <li class="main-menu-item">@Html.ActionLink("Действия с товаром", "Index", "Activities")</li>
    </ul>
</div>

<div class="main-menu">
    <ul class="main-menu-list">
        <li class="main-menu-item">@Html.ActionLink("Объединение таблиц", "JoingTables", "Queries")</li>
        <li class="main-menu-item">@Html.ActionLink("Интегрированный запрос", "IntegratedQuery", "Queries")</li>
        <li class="main-menu-item">@Html.ActionLink("Группирование строк", "GroupingRows", "Queries")</li>
    </ul>
</div>

<div class="clearfix"></div>