@model FootwearShop.Models.Footwear

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Обувь</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FootwearSize)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.FootwearSize)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Maker.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Maker.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.FootwearType.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.FootwearType.Name)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
